<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>dynsim</title>
        <meta name="dynsimVignette" content="dynsim: dynamic simulations of autoregressive relationships.">
        <link rel="stylesheet" href="css/main.css">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrapMod.css" media="screen">
        <link href="css/bootswatch.css" rel="stylesheet">
    </head>

<body>

<!--begin.rcode include=FALSE
opts_chunk$set(fig.align='center')
opts_chunk$set(dev='svg')
end.rcode-->


    <div id="topbar"><code>dynsim</code>:</div> <div id="topbarsub">dynamic simulations of autoregressive relationships</div>
    <p>Laron K Williams, Guy D Whitten, and <a href="http://christophergandrud.blogspot.com/p/biocontact.html">Christopher Gandrud</a></p>
    <p>15 March 2014</p>

<hr>



<!----------------------------- Tabbed Examples ------------------------------>

<!----------------------------- R ------------------------------>

<ul class="nav nav-tabs" id="tableTabs">
    <li class="active"><a href="#R" data-toggle="tab">R</a></li>
    <li class=""><a href="#Stata" data-toggle="tab">Stata</a></li> 
</ul>

<!-- R -->

<div class="tab-content">
    <div class="tab-pane fade active in" id="R">

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode
plot(cars)
end.rcode-->

</div>


<!----------------------------- Stata ------------------------------>

<div class="tab-pane fade" id="Stata">
            <h3 align="center">The Stata Examples section is under development.</h3> 
</div>


<!----------------------------- Footer ------------------------------>

    <footer><hr><a href="https://github.com/christophergandrud">Christopher Gandrud</a> (2014)</div></footer>

</body>

<!----------------------------- Scripts ----------------------------->

<!-- Tabs with Bootstrap -->

<script type="text/javascript" src="js/jQuery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script>
  $(function () {
    $('#Basic a:first').tab('show')
  })
</script>

<!-- dynamically load mathjax for compatibility with --self-contained -->
<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>

<!-- Google Analytics tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48683594-1', 'christophergandrud.github.io');
  ga('send', 'pageview');

</script>

</html>
